[submodule "/mnt/c/Users/thomas/Documents/Programmation/42Qc_push_swap/42Qc_libft"]
	path = /mnt/c/Users/thomas/Documents/Programmation/42Qc_push_swap/42Qc_libft
	url = https://github.com/Kagan0591/42Qc_libft.git
